<div class="control-panel">
    <!-- https://www.w3schools.com/charsets/ref_utf_arrows.asp -->
    <div style="display: flex; flex-direction: row">
        <button (click)="doChangeHeight(-1)" type="button" title="shrink height">-</button>
        <button (click)="doMove('top')" type="button" style="flex-grow: 1">&uarr;</button>
        <button (click)="doChangeWidth(1)" type="button" title="grow width">+</button>
    </div>

    <div style="display: flex; flex-direction: row; flex-grow: 1;">
        <button (click)="doMove('left')" type="button">&larr;</button>
        <div style="flex-grow: 1; align-self: center;">
            x:{{ gridItem.x }} y:{{ gridItem.y }}
            w:{{ gridItem.width }} h:{{ gridItem.height}}
        </div>
        <button (click)="doMove('right')" type="button">&rarr;</button>
    </div>
    <div style="display: flex; flex-direction: row">
        <button (click)="doChangeWidth(-1)" type="button" title="shrink width">-</button>
        <button (click)="doMove('bottom')" type="button" style="flex-grow: 1">&darr;</button>
        <button (click)="doChangeHeight(1)" type="button" title="grow height">+</button>
    </div>
</div>