<app-canvas></app-canvas>

<ng-static-grid-panel columns="32" rows="24">
    <ng-container *ngFor="let i of items">
        <ng-static-grid-item [x]="i.x" [y]="i.y" [width]="i.w" [height]="i.h">
            <div class="card">
                <div class="card-body">
                    {{ i.name }}
                </div>
            </div>
        </ng-static-grid-item>
        <ng-static-grid-item x="14" y="12" width="10" height="2">
            <h2>Dashboard #24</h2>
        </ng-static-grid-item>
    </ng-container>
</ng-static-grid-panel>