<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">Top Left</div>
    </div>

    <div class="grid-stack-item"
        data-gs-x="11" data-gs-y="0"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">Top Right</div>
    </div>

    <div class="grid-stack-item"
        data-gs-x="5" data-gs-y="5"
        data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content">Mid</div>
    </div>

    <div class="grid-stack-item"
        data-gs-x="1" data-gs-y="11"
        data-gs-width="10" data-gs-height="1">
            <div class="grid-stack-item-content">Footer</div>
    </div>
</div>